@import './../style/index';

a {
  text-decoration: none;
}

.product-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  box-sizing: border-box;

  padding-top: 24px;
  padding-bottom: 64px;
  padding-inline: 16px;

  @include on-tablet {
    padding-top: 32px;
    padding-inline: 24px;
  }

  @include on-desktop {
    padding-top: 40px;
    padding-inline: 32px;
    margin: 0;
  }

  @include on-big-desktop {
    padding-inline: 152px;
  }

  &__title {
    @include on-tablet {
      font-size: 48px;
    }
  }

  &__text {
    color: #89939a;
    font-weight: 600;
    font-size: 14px;
  }

  &__select {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-bottom: 24px;

    @include on-tablet {
      grid-template-columns: 187px 136px;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px 16px;
    width: 100%;

    justify-items: center;
    justify-content: center;

    @media (min-width: 640px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      justify-items: stretch;
    }

    @media (min-width: 768px) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 40px 16px;
      justify-items: stretch;
    }

    @media (min-width: 1200px) {
      grid-template-columns: repeat(4, 272px);
      justify-content: flex-start;
      justify-items: start;
    }
  }
}
