@import './../../style/utils/mexin.module';

.grid-favourites__list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  box-sizing: border-box;

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 24px 16px;

  /* 🌟 ПО СЕРЕДИНІ для мобільних та планшетів */
  justify-content: center;
  justify-items: center;

  /* 2 колонки від 640px (по середині) */
  @media (min-width: 640px) {
    grid-template-columns: repeat(2, minmax(0, 272px));
    justify-content: center;
  }

  /* 3 колонки від 768px (по середині) */
  @media (min-width: 768px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 40px 16px;
    justify-content: center;
  }

  /* 4 колонки від 1200px (ліворуч) */
  @media (min-width: 1200px) {
    grid-template-columns: repeat(4, 272px);
    justify-content: flex-start;
    justify-items: start;
  }

  &__item {
    width: 100%;
  }
}
