@import './../../style/utils/mexin.module';

.grid-favourites__list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  box-sizing: border-box;

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  gap: 24px 16px;

  /* 2 колонки від 640px */
  @media (min-width: 640px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  /* 🌟 3 колонки від 768px (згідно з макетом) */
  @media (min-width: 768px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 40px 16px;
  }

  /* 4 колонки від 1200px */
  @media (min-width: 1200px) {
    grid-template-columns: repeat(4, 272px);
    justify-content: flex-start;
  }

  &__item {
    width: 100%;
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;

  &__spinner {
    border: 1px solid #f3f3f3;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
